.header {
  padding: 2rem;
}
.header__title {
  font-family: "Dela Gothic One", cursive;
  font-size: 3rem;
  line-height: 1.8;
}
.header__highlight {
  display: block;
  position: relative;
  padding: 0 1rem;
  color: #ffb524;
  text-transform: uppercase;
}
.header__highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 173px;
  background-color: #000;
  z-index: -1;
}
.header__info-box {
  text-align: center;
}
.header__info {
  margin: 3rem 0;
  font-size: 1.4rem;
}
.header__btn-menu {
  padding: 1rem 2rem;
  margin: 0 auto;
  background-color: #FFB524;
  text-transform: uppercase;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}
.header__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
  text-align: center;
}
.header__main-img-box {
  position: relative;
  width: 250px;
}
.header__main-img {
  width: 100%;
}
.header__info-promo {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 100px;
  font-size: 1.2rem;
}
.header__promo-arrow {
  position: absolute;
  top: -25px;
  left: 45%;
  width: 60px;
}
.header__discount-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 20px;
  width: 60px;
  height: 50px;
  background: #000;
  border-radius: 50%;
}
.header__discount-price {
  color: #fff;
  font-size: 2.2rem;
}
.header__shadow {
  margin-top: 2rem;
  width: 100%;
  height: 15px;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 2;
  background-color: #fff;
}
.nav__logo {
  width: 50px;
}
.nav__logo-img {
  width: 100%;
}
.nav__items {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 2rem 0;
  background-color: #fff;
  text-align: center;
  z-index: -1;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__link {
  margin-bottom: 1.2rem;
  padding: 1rem 2rem;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #000;
}
.nav__button-order {
  padding: 1.5rem 2.5rem;
  background-color: #FFB524;
  text-transform: uppercase;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.nav__cart {
  position: relative;
  margin-left: auto;
  margin-right: 3.5rem;
  font-size: 2.4rem;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.nav__cart:hover {
  color: #333;
}
.nav__cart-amount-box {
  bottom: 0;
  right: -10px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #FFB524;
  border-radius: 100%;
}
.nav__cart-amount {
  font-weight: bold;
  font-size: 1.2rem;
}
.nav__bars {
  font-size: 3.2rem;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.nav__bars:hover {
  color: #333;
}

.section-promo {
  margin-top: 6rem;
  padding: 6rem 3rem;
  background-color: rgba(0, 0, 0, 0.75);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-100%, rgba(0, 0, 0, 0.329)), color-stop(80%, rgb(0, 0, 0))), url("../img/promo-bg-small.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.329) -100%, rgb(0, 0, 0) 80%), url("../img/promo-bg-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -10%, center;
  color: #fff;
}
.section-promo img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-promo__img {
  position: absolute;
  top: -65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 9rem 3rem 4rem 3rem;
  border: 1px solid #5e5d5d;
}
.section-promo__item1 {
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.section-promo__title {
  font-family: "Denk One", sans-serif;
  font-size: 1.8rem;
}
.section-promo__info {
  margin: 2rem 0;
  font-family: "Fauna One", sans-serif;
  font-size: 1.4rem;
}
.section-promo__btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-family: "Denk One", sans-serif;
  text-transform: uppercase;
  background-color: #FFB524;
  border: none;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: background 0.3s, color 0.3s, border 0.3s;
  transition: background 0.3s, color 0.3s, border 0.3s;
}
.section-promo__btn:hover {
  color: #fff;
  background: none;
  border: 1px solid #fff;
}
.section-promo__promo-info {
  margin-top: 6rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Fauna One", sans-serif;
}
.section-promo__promo-info-underline {
  border-bottom: 3px solid #FFB524;
  font-weight: bold;
}

.section-menu {
  padding: 4rem 2rem;
}
.section-menu__bg {
  display: none;
}
.section-menu .sub-title,
.section-menu .section-title {
  padding-left: 1rem;
  text-align: left;
}
.section-menu .section-title {
  color: #333;
}
.section-menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-family: "Denk One", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.section-menu__option {
  padding: 0.5rem 1rem;
}
.section-menu__option:hover {
  background-color: #ffb524;
}
.section-menu__boxes {
  padding: 0 1rem;
}
.section-menu__box {
  position: relative;
  margin-bottom: 3rem;
  margin-top: 4.5rem;
  padding: 0 1rem 3rem 1rem;
  border: 1px solid #ece8e8;
  background-color: #f9f6f6;
}
.section-menu__box--title {
  position: absolute;
  top: -13.5px;
  left: 15px;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  font-family: "Denk One", sans-serif;
  font-size: 1.6rem;
}
.section-menu__box--name {
  display: inline-block;
  margin-bottom: 1rem;
  font-family: "Denk One", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}
.section-menu__box--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}
.section-menu__box--ingredients {
  color: #1e1e1e;
  font-family: "Fauna One", sans-serif;
  font-size: 1.4rem;
}
.section-menu__box--price {
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  background-color: #ffb524;
  font-family: "Denk One", sans-serif;
  font-size: 1.4rem;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.section-menu__box--price i {
  margin-right: 1rem;
}
.section-menu__box--price:hover {
  color: #fff;
  background-color: #333;
}
.section-menu__box--item {
  margin-top: 4.5rem;
}
.section-menu__name-box {
  width: 100%;
}
.section-menu__name-box::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #ffb524;
  width: 20px;
}
.section-menu__name-box::after {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #ffb524;
}
.section-menu__img {
  position: relative;
  height: 100px;
  background-image: url("../img/menu-burger-mobile.png");
  background-size: cover;
  background-position: center;
}
.section-menu__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}
.section-menu__img img {
  width: 100%;
}

@media (min-height: 280px) {
  .nav__items {
    top: 0;
  }
}
@media (min-height: 359px) {
  .nav__items {
    top: 50px;
  }
}
@media (min-height: 460px) {
  .nav__items {
    top: 100%;
  }
}
@media (min-width: 460px) {
  .section-menu__box--menu {
    padding: 0 2rem;
  }
}
@media (min-width: 576px) {
  .nav__logo {
    width: 70px;
  }
  .header__title {
    font-size: 3.4rem;
  }
  .header__highlight::before {
    width: 200px;
  }
  .header__info {
    font-size: 1.6rem;
  }
  .header__main-img-box {
    width: 300px;
  }
  .section-menu__box--menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-menu__box--price {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (min-height: 420px) {
  .nav__link, .nav__button-order {
    font-size: 1.8rem;
  }
  .nav__button-order {
    margin-top: 4rem;
  }
}
@media (min-width: 768px) {
  .header__title {
    font-size: 3.6rem;
  }
  .header__btn-menu {
    padding: 1.5rem 3.5rem;
    font-size: 1.6rem;
  }
  .section-promo {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-100%, rgba(0, 0, 0, 0.329)), color-stop(80%, rgb(0, 0, 0))), url("../img/promo-bg-big.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.329) -100%, rgb(0, 0, 0) 80%), url("../img/promo-bg-big.jpg");
  }
  .section-promo__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
  }
  .section-promo__item {
    margin-top: 13rem;
  }
  .section-promo__item1 {
    margin-bottom: 0;
    width: 50%;
  }
  .section-promo__item2 {
    width: 50%;
  }
  .section-promo__btn {
    margin-top: auto;
  }
  .section-menu__img {
    height: 150px;
  }
  .section-menu__options {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .section-menu__box--title {
    font-size: 2.2rem;
  }
  .section-menu__box--name {
    font-size: 2.2rem;
    font-weight: normal;
  }
  .section-menu__box--first-item {
    margin-top: 6.5rem;
  }
  .section-menu__box--ingredients {
    font-size: 1.6rem;
  }
  .section-menu__box--price {
    padding: 0.7rem 1.5rem;
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) and (min-height: 0px) {
  .nav {
    padding: 2rem 3rem;
  }
  .nav__logo {
    width: 90px;
  }
  .nav__bars {
    display: none;
  }
  .nav__items {
    position: relative;
    margin-left: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 10;
    width: auto;
  }
  .nav__links {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__link {
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  .nav__link:hover {
    background-color: #333;
    color: #fff;
  }
  .nav__button-order {
    margin-left: 3.2rem;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .nav__button-order:hover {
    background-color: #c79228;
  }
  .nav__cart {
    margin-left: 6rem;
    font-size: 3rem;
  }
  .nav__cart-amount-box {
    width: 20px;
    height: 20px;
  }
  .nav__cart-amount {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 6rem 3rem;
  }
  .header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__title {
    font-size: 6.8rem;
    line-height: 1.4;
  }
  .header__highlight::before {
    left: 0;
    top: 5px;
    width: 450px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__info-box {
    margin-top: 2rem;
    width: 60%;
    text-align: left;
  }
  .header__info {
    font-size: 1.8rem;
    width: 70%;
  }
  .header__img-box {
    width: 40%;
  }
  .header__main-img-box {
    width: 100%;
  }
  .header__info-promo {
    top: -45px;
    left: 35px;
    width: 150px;
    font-size: 1.6rem;
  }
  .header__promo-arrow {
    width: 100px;
    top: -45px;
  }
  .header__discount-box {
    right: 20px;
    width: 100px;
    height: 90px;
  }
  .header__discount-price {
    font-size: 3.4rem;
  }
  .section-promo img {
    width: 140px;
    height: 140px;
  }
  .section-promo__img {
    top: -70px;
  }
  .section-promo__box {
    gap: 10rem;
  }
  .section-promo__item {
    margin-top: 17rem;
  }
  .section-promo__item1 {
    width: 30%;
  }
  .section-promo__item2 {
    width: 30%;
  }
  .section-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .section-menu .wrapper {
    padding: 6rem 7rem;
  }
  .section-menu__img {
    display: none;
  }
  .section-menu__bg {
    display: block;
    width: 25%;
    max-height: 1000px;
  }
  .section-menu__bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-menu__options {
    margin: 4rem 0 8rem 0;
    font-size: 3.4rem;
  }
  .section-menu__box--title {
    font-size: 2.6rem;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 8rem;
  }
  .header__info-promo {
    left: 80px;
  }
  .header__promo-arrow {
    width: 130px;
    top: -55px;
    left: 50%;
  }
  .section-promo {
    padding: 10rem 3rem;
  }
  .section-promo img {
    width: 170px;
    height: 170px;
  }
  .section-promo__img {
    top: -85px;
  }
  .section-promo__item {
    padding-top: 12rem;
  }
  .section-promo__item1 {
    width: 25%;
  }
  .section-promo__item2 {
    width: 25%;
  }
  .section-promo__title {
    font-size: 2.2rem;
  }
  .section-promo__info {
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
  }
  .section-promo__btn {
    padding: 1rem 4rem;
  }
  .section-promo__promo-info-underline {
    font-size: 2rem;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.font-title {
  font-family: "Denk One", sans-serif;
}

.font-description {
  font-family: "Fauna One", serif;
}

.font-main {
  font-family: "Freckle Face", cursive;
}

.show {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-title {
  font-family: "Denk One", sans-serif;
  text-transform: uppercase;
  color: #FFB524;
  text-align: center;
  font-weight: lighter;
  font-size: 1.6rem;
}

.section-title {
  font-family: "Fauna One", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: lighter;
  font-size: 2.4rem;
}

@media (min-width: 576px) {
  .sub-title {
    font-size: 1.6rem;
  }
  .section-title {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  .sub-title {
    font-size: 1.8rem;
  }
  .section-title {
    font-size: 2.8rem;
  }
}
@media (min-width: 992px) {
  .sub-title {
    font-size: 2.4rem;
  }
  .section-title {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */