.section-promo {
    margin-top: 6rem;
    padding: 4rem 3rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.985) 0%, rgba(0, 0, 0, 0.727) 45%, rgba(0, 0, 0, 0.595) 100%), url('../img/promo-bg-small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
    }

    &__img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__item {
        position: relative;
        padding: 7rem 3rem 4rem 3rem;
        border: 1px solid #5e5d5d;
    }

    &__item1 {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    &__title {
        font-family: 'Denk One', sans-serif;
        font-size: 1.8rem;
    }

    &__info {
        margin: 2rem 0;
        font-family: 'Fauna One', sans-serif;
        font-size: 1.4rem;
    }

    &__btn {
        display: inline-block;
        padding: 1rem 3rem;
        font-family: 'Denk One', sans-serif;
        text-transform: uppercase;
        background-color: #FFB524;
        border: none;
    }
}