@use "header";
@use "nav";
@use "media";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.font-title {
	font-family: "Denk One", sans-serif;
}

.font-description {
	font-family: "Fauna One", serif;
}

.font-main {
	font-family: "Freckle Face", cursive;
}

.show {
	transform: translateX(-50%);
}
