@use "header";
@use "nav";
@use "media";
@use "promo";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.font-title {
	font-family: "Denk One", sans-serif;
}

.font-description {
	font-family: "Fauna One", serif;
}

.font-main {
	font-family: "Freckle Face", cursive;
}

.show {
	transform: translateY(0%);
}

.display-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}


.sub-title {
	font-family: 'Denk One', sans-serif;
	text-transform: uppercase;
	color: #FFB524;
	text-align: center;
	font-weight: lighter;
	font-size: 1.4rem;
}

.section-title {
	font-family: 'Fauna One', sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-weight: lighter;
	font-size: 2rem;
}

